/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Herculanum";
  src: url("../fonts/Herculanum.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Herculanum.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Herculanum.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Herculanum.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Herculanum.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Herculanum.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Herculanum.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

#logo-navbar {
	width: 104px;
}

#hero {
	right: 492px;
    position: relative;
    width: 714px;
    font-family: "Herculanum", sans-serif;
    font-size: 90px;
}

.btn-primary:hover {
	color: #3d511e;
    background-color: #f8f9fa;
    border-color: #3d511e;
    box-shadow: 5px 10px 10px;
}

header.masthead {
	background: url(../img/hero-1.jpg) no-repeat center center;
    zoom: 50%;
}


body {
	overflow-x: hidden;
}

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.logo-container {
	text-align: center;	
	margin: 44px 0;
}

div.linekdin {
     /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 100px;
    width: 100px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

.card-title {
    color: #3d511e !important;
}

.icon-screen-desktop:before {
    color: #3d511e !important;
}

.icon-layers:before {
    color: #3d511e !important;
}

.icon-check:before {
    color: #3d511e !important;
}